<h1 class="fw-bold">Book Now</h1>
<h3>Select your dates</h3>
<%= simple_form_for [@studio, @booking] do |f| %>
  <%= f.input :start_on, html5: true, input_html: { data: { controller: "pick-day" } } %>
  <%= f.input :end_on, html5: true, input_html: { data: { controller: "pick-day" } }, label: "End on" %>
  <%= f.button :submit, class: "btn-primary mt-3" %>
<% end %>
