<section class="py-5 bg-gray-100">
  <div class="container">
    <div class="text-center pb-lg-4">
      <p class="subtitle">Time to upgrade your music</p>
      <h2 class="mb-5 h2">Booking with us just <small class = "text-primary h2"> sounds better</small></h2>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="icon-rounded bg-primary-light mb-3">
            <p class="svg-icon text-primary w-2rem h-2rem">
              <i class="fas fa-microphone-alt fa-3x"></i>
            </p>
          </div>
          <h3 class="h5">Find your studio</h3>
          <p class="text-muted h6">Select from the studios near you the one that best suits your needs</p>
        </div>
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="icon-rounded bg-primary-light mb-3">
            <p class="svg-icon text-primary w-2rem h-2rem">
              <i class="fas fa-compact-disc fa-3x"></i>
            </p>
          </div>
          <h3 class="h5">Book with confidence</h3>
          <p class="text-muted h6">All our studios have been verified and approved by professional producers</p>
        </div>
      </div>
      <div class="col-lg-4 mb-3 mb-lg-0 text-center">
        <div class="px-0 px-lg-3">
          <div class="icon-rounded bg-primary-light mb-3">
            <p class="svg-icon text-primary w-2rem h-2rem">
              <i class="fas fa-file-audio fa-3x"></i>
            </p>
          </div>
          <h3 class="h5">Record a new hit</h3>
          <p class="text-muted h6"> Enjoy your recording session just like the pros do</p>
        </div>
      </div>
    </div>
  </div>
</section>
