<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner-studio.jpg"%>)">
  <div class="container">
    <h1>Studiofy <strong>-Ready to go Pro</strong>?</h1>
    <p>Wolrd class recording studios at your reach</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
