.btn-banner {
  color:#FFFFFF ;
  border: 1px solid #FFFFFF;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
  margin-top: 15px;

}

.btn-banner:hover {
  opacity: 1;
  color:#FFFFFF;
}
