.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.card-large {
  height: 50vh;
  max-height: 400px;
}

.studio-card {
  border-radius: 10px;
  .card-img {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
  }
}
.studio-card:hover{
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.card-image {
border-radius: 7px;
box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.box-shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dashboard-cards {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}

@media(max-width: 768px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
}

.bookings-card:hover {
  transition: 1s ease;
  transform: translateX(2rem)
}
