.navbar-lewagon {
  justify-content: space-between;
  background: white;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 32px;
}
