<div class="container pt-3">
  <h1>List of Studios</h1>
  <ul class="list-studios">
    <% @studios.each do |studio| %>
      <%= render 'studios/card', studio: studio %>
    <% end %>
  </ul>
</div>
