<div class="container pt-3">
  <div class="d-flex justify-content-between m-2">
    <h1>List of Studios</h1>
    <% if policy(Studio).create? %>
      <%= link_to "New studio", new_studio_path, class: "btn btn-outline-primary m-2" %>
    <% end %>
  </div>
  <div class="list-studios row">
    <% @studios.each do |studio| %>
      <div class="col-6">
        <%= render 'studios/card', studio: studio %>
      </div>
    <% end %>
  </div>
</div>
